@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
  --netflix-red: 229, 9, 20;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

.netflix-gradient {
  background: linear-gradient(to bottom, rgb(var(--netflix-red)), #831010);
}
